<%- include('./_header.ejs') %>
  <div class="container mt-4">
    <h1>User Management</h1>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
<% list.forEach((user) => { %>
        <tr>
          <td><%- user._id %></td>
          <td><%- user.login %></td>
          <td>
            <a href="#" class="btn btn-primary btn-sm">Edit</a>
            <a href="/users/delete/<%- user._id %>" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
<% }); %>
      </tbody>
    </table>
    <a href="/users/add" class="btn btn-success">Add User</a>
  </div>
<%- include('./_footer.ejs') %>
